@{
    ViewBag.Title = "Memory Game";
}

<div class="memory-game" data-ng-controller="mainCtrl">
	<board game-info="gameInfo">
		<card model="card" flip="flipCard(card)" data-ng-repeat="card in cards track by card.id"></card>
	</board>
</div>